## Bi-grams

### Set Up

In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
# nltk.download('stopwords')
# nltk.download('punkt')
# nltk.download('wordnet')
# nltk.download('omw-1.4')
import string
import re
import unicodedata
import warnings
warnings.filterwarnings("ignore")
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from string import punctuation
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk import ngrams
from nltk import FreqDist
from nltk.tokenize import word_tokenize

### Load Data

In [13]:
review_data = pd.read_csv("./Data/review_chinsese_philadelphia.csv")

# removing the duplicates
review_data.drop_duplicates(subset=['review_id','date','user_id'],inplace=True)
review_data.set_index('Unnamed: 0')
review_data.head()

,Unnamed: 0,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,1,L0E_Ld__jIATsQ1vA7ZGZw,Cvi8nZTwDVaQkqmmgQwQMw,D4DZztR7vkbiED6txGUYFg,4,0,0,1,Looks like there is a second Red Kings restaur...,2013-06-24 13:15:21
1,2,Vou3XAgjYJBuCO_-h1OQaA,M-00xuAOYLeaGEhPmmKjfg,eaDZlSuVS0EY67Ke6pRP6Q,5,0,0,0,Absolutely wonderful food & service! Go there ...,2011-04-23 00:52:05
2,3,hozoa1DsTCjpz4UC8YGsNw,ndgHYecgAWEqtjnjE7LtfA,MMRRS6YhVRx_iN5-JhMRYg,4,0,0,0,The new Han Dynasty took over the spot where t...,2012-10-08 15:29:44
3,4,tfucaiy6lG5UbvbmTD4STg,wABHp4fGUC-0acRKhmQO2A,MMRRS6YhVRx_iN5-JhMRYg,5,0,0,0,"Awesome food, great place to split a bunch of ...",2016-03-07 00:22:02
4,5,bu0BUkenT8c8nnyKUaF0-A,qmpRRF4HAKuGJEujoK-IdQ,eaDZlSuVS0EY67Ke6pRP6Q,5,0,0,0,"I've been coming to this place for years now, ...",2016-02-24 14:34:27

### Clean Data

In [73]:
stopwords = nltk.corpus.stopwords.words('english')
lemmatizer = WordNetLemmatizer()
token=[]
bigrm=[]
for comment in review_data.text:
    text=comment.lower()
    text=unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    text=re.sub(r'[^a-zA-Z0-9]', ' ', text)
    text=re.sub(r'https?://\S+|www\.\S+', '', text)
    text=re.sub(r'[^a-zA-Z]', ' ', text)
    text=re.sub(r'^\s*|\s\s*', ' ', text).strip()
    text=text.split()
    tokens=[lemmatizer.lemmatize(i) for i in text if (i not in string.punctuation)&(i not in stopwords)]
    token.append(tokens)
    tokens=list(nltk.bigrams(tokens))
    tokens=[i[0]+"_"+i[1] for i in tokens]
    bigrm.append(tokens)
review_data["unigram"]=token
review_data["bigram"]=bigrm

In [74]:
review_data.head()

,Unnamed: 0,review_id,user_id,business_id,stars,useful,funny,cool,text,date,unigram,bigram
0,1,L0E_Ld__jIATsQ1vA7ZGZw,Cvi8nZTwDVaQkqmmgQwQMw,D4DZztR7vkbiED6txGUYFg,4,0,0,1,Looks like there is a second Red Kings restaur...,2013-06-24 13:15:21,"[look, like, second, red, king, restaurant, ch...","[look_like, like_second, second_red, red_king,..."
1,2,Vou3XAgjYJBuCO_-h1OQaA,M-00xuAOYLeaGEhPmmKjfg,eaDZlSuVS0EY67Ke6pRP6Q,5,0,0,0,Absolutely wonderful food & service! Go there ...,2011-04-23 00:52:05,"[absolutely, wonderful, food, service, go, lun...","[absolutely_wonderful, wonderful_food, food_se..."
2,3,hozoa1DsTCjpz4UC8YGsNw,ndgHYecgAWEqtjnjE7LtfA,MMRRS6YhVRx_iN5-JhMRYg,4,0,0,0,The new Han Dynasty took over the spot where t...,2012-10-08 15:29:44,"[new, han, dynasty, took, spot, old, mid, atla...","[new_han, han_dynasty, dynasty_took, took_spot..."
3,4,tfucaiy6lG5UbvbmTD4STg,wABHp4fGUC-0acRKhmQO2A,MMRRS6YhVRx_iN5-JhMRYg,5,0,0,0,"Awesome food, great place to split a bunch of ...",2016-03-07 00:22:02,"[awesome, food, great, place, split, bunch, de...","[awesome_food, food_great, great_place, place_..."
4,5,bu0BUkenT8c8nnyKUaF0-A,qmpRRF4HAKuGJEujoK-IdQ,eaDZlSuVS0EY67Ke6pRP6Q,5,0,0,0,"I've been coming to this place for years now, ...",2016-02-24 14:34:27,"[coming, place, year, even, though, live, colo...","[coming_place, place_year, year_even, even_tho..."