In [21]:
import pandas as pd
import numpy as np
import csv

In [11]:
review = pd.read_csv("review_chinsese_philadelphia.csv")
business = pd.read_csv("business_chinese_philadelphia.csv")
review

,Unnamed: 0,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,1,L0E_Ld__jIATsQ1vA7ZGZw,Cvi8nZTwDVaQkqmmgQwQMw,D4DZztR7vkbiED6txGUYFg,4,0,0,1,Looks like there is a second Red Kings restaur...,2013-06-24 13:15:21
1,2,Vou3XAgjYJBuCO_-h1OQaA,M-00xuAOYLeaGEhPmmKjfg,eaDZlSuVS0EY67Ke6pRP6Q,5,0,0,0,Absolutely wonderful food & service! Go there ...,2011-04-23 00:52:05
2,3,hozoa1DsTCjpz4UC8YGsNw,ndgHYecgAWEqtjnjE7LtfA,MMRRS6YhVRx_iN5-JhMRYg,4,0,0,0,The new Han Dynasty took over the spot where t...,2012-10-08 15:29:44
3,4,tfucaiy6lG5UbvbmTD4STg,wABHp4fGUC-0acRKhmQO2A,MMRRS6YhVRx_iN5-JhMRYg,5,0,0,0,"Awesome food, great place to split a bunch of ...",2016-03-07 00:22:02
4,5,bu0BUkenT8c8nnyKUaF0-A,qmpRRF4HAKuGJEujoK-IdQ,eaDZlSuVS0EY67Ke6pRP6Q,5,0,0,0,"I've been coming to this place for years now, ...",2016-02-24 14:34:27
...,...,...,...,...,...,...,...,...,...,...
56942,56943,fb_xKUoJb-A2wWTSmFndfg,pGmbV55YLG54t8r1W4F3xg,-1B9pP_CrRBJYPICE5WbRA,5,1,0,1,Spice 28 is a great happy hour option in the h...,2021-11-08 15:15:45
56943,56944,4yFZtkdc7SPueWozB6zmwQ,ttg9bK1FuUDZQNIleuR-KQ,ytynqOUb3hjKeJfRj5Tshw,5,0,1,0,"If it wasn't for my friend dragging me out, I ...",2019-12-21 18:46:06
56944,56945,d_POWSXOV2S7QSO6SOfCNg,I2owOyPHlcXYfhXr8hvodw,-1B9pP_CrRBJYPICE5WbRA,3,0,0,1,"So, myself and my person decided to try someth...",2015-10-29 00:58:39
56945,56946,UKSW7aMzc32KQC_eNwRazg,iTA7VqmHkEX3sUtJLpxHdw,qDEcJ48kXdWxQGZefgG94w,5,2,0,0,Incredible and amazing. We always come here wh...,2019-07-01 06:38:29
56946,56947,MVg4YUQeEhCA7Z7RsBJSVg,7-7A0Avj47slLGV7yBFc8w,ytynqOUb3hjKeJfRj5Tshw,3,1,0,0,"I was so excited about all the food I saw, but...",2013-07-25 21:00:15

In [16]:
business_need = business[['business_id','name','address','review_count','hours','is_open']]

In [20]:
merged_data = pd.merge(review, business_need, on=["business_id"], how = 'left')
final_data = merged_data[merged_data['is_open'] ==1]
final_data

,Unnamed: 0,review_id,user_id,business_id,stars,useful,funny,cool,text,date,name,address,review_count,hours,is_open
1,2,Vou3XAgjYJBuCO_-h1OQaA,M-00xuAOYLeaGEhPmmKjfg,eaDZlSuVS0EY67Ke6pRP6Q,5,0,0,0,Absolutely wonderful food & service! Go there ...,2011-04-23 00:52:05,Penang,117 N 10th St,1112,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1
2,3,hozoa1DsTCjpz4UC8YGsNw,ndgHYecgAWEqtjnjE7LtfA,MMRRS6YhVRx_iN5-JhMRYg,4,0,0,0,The new Han Dynasty took over the spot where t...,2012-10-08 15:29:44,Han Dynasty,3711 Market St,783,"{'Monday': '11:30-21:0', 'Tuesday': '11:30-21:...",1
3,4,tfucaiy6lG5UbvbmTD4STg,wABHp4fGUC-0acRKhmQO2A,MMRRS6YhVRx_iN5-JhMRYg,5,0,0,0,"Awesome food, great place to split a bunch of ...",2016-03-07 00:22:02,Han Dynasty,3711 Market St,783,"{'Monday': '11:30-21:0', 'Tuesday': '11:30-21:...",1
4,5,bu0BUkenT8c8nnyKUaF0-A,qmpRRF4HAKuGJEujoK-IdQ,eaDZlSuVS0EY67Ke6pRP6Q,5,0,0,0,"I've been coming to this place for years now, ...",2016-02-24 14:34:27,Penang,117 N 10th St,1112,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1
5,6,KEY5K6jrl18LLtyZ8bfDxg,_2kdAzmaR6KrWzjBMLoiog,KgozvZ1UFfXuJToqe8CfQg,4,0,0,0,"Nothing extraordinary, but if you want some si...",2015-11-06 00:02:47,Fortune Chinese Restaurant,1828 S St,87,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56942,56943,fb_xKUoJb-A2wWTSmFndfg,pGmbV55YLG54t8r1W4F3xg,-1B9pP_CrRBJYPICE5WbRA,5,1,0,1,Spice 28 is a great happy hour option in the h...,2021-11-08 15:15:45,Spice 28,1228 Chestnut St,822,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:30...",1
56943,56944,4yFZtkdc7SPueWozB6zmwQ,ttg9bK1FuUDZQNIleuR-KQ,ytynqOUb3hjKeJfRj5Tshw,5,0,1,0,"If it wasn't for my friend dragging me out, I ...",2019-12-21 18:46:06,Reading Terminal Market,51 N 12th St,5721,"{'Monday': '8:0-18:0', 'Tuesday': '8:0-18:0', ...",1
56944,56945,d_POWSXOV2S7QSO6SOfCNg,I2owOyPHlcXYfhXr8hvodw,-1B9pP_CrRBJYPICE5WbRA,3,0,0,1,"So, myself and my person decided to try someth...",2015-10-29 00:58:39,Spice 28,1228 Chestnut St,822,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:30...",1
56945,56946,UKSW7aMzc32KQC_eNwRazg,iTA7VqmHkEX3sUtJLpxHdw,qDEcJ48kXdWxQGZefgG94w,5,2,0,0,Incredible and amazing. We always come here wh...,2019-07-01 06:38:29,Xun Yu Si Kao,140 N 10th St,114,"{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...",1
56946,56947,MVg4YUQeEhCA7Z7RsBJSVg,7-7A0Avj47slLGV7yBFc8w,ytynqOUb3hjKeJfRj5Tshw,3,1,0,0,"I was so excited about all the food I saw, but...",2013-07-25 21:00:15,Reading Terminal Market,51 N 12th St,5721,"{'Monday': '8:0-18:0', 'Tuesday': '8:0-18:0', ...",1

In [23]:
final_data.to_csv('review_final.csv')